{% extends './layout.html' %}

{% block title -%}
日志数据_前端小武博客
{%- endblock %}

{% block style -%}
<style type="text/css">
    .markdown-body {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    h2 {
        font-size: 20px;
    }
</style>
{%- endblock %}

{% block content -%}
<div class="nav">
    <ul>
        <li><a href="/">缓存列表</a></li>
        <li class="active"><a href="/dashboard">日志数据</a></li>
    </ul>
</div>

<div class="markdown-body">
    <select>
        <option selected>当前实时数据</option>
        <option disabled>20170509</option>
    </select>

    <h2>Http状态码</h2>
    <table>
        <thead>
            <tr>
                <th>指标</th>
                <th>数据</th>
                <th>比例</th>
            </tr>
        </thead>
        <tbody>
            {% if status %}
                {% for val in status %}
                <tr>
                    <td>
                        {{ val.key }}
                    </td>
                    <td>
                        {{ val.value }}
                    </td>
                    <td>
                        {{ val.ratio }}%
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">没有数据~</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>Nginx缓存状态</h2>
    <table>
        <thead>
            <tr>
                <th>指标</th>
                <th>数据</th>
                <th>比例</th>
            </tr>
        </thead>
        <tbody>
            {% if cache_status %}
                {% for val in cache_status %}
                <tr>
                    <td>
                        {{ val.key }}
                    </td>
                    <td>
                        {{ val.value }}
                    </td>
                    <td>
                        {{ val.ratio }}%
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">没有数据~</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>受访页面Top10</h2>
    <table>
        <thead>
            <tr>
                <th>指标</th>
                <th>数据</th>
                <th>比例</th>
            </tr>
        </thead>
        <tbody>
            {% if request_uri %}
                {% for val in request_uri %}
                <tr>
                    <td>
                        <a href="//xuexb.com{{ val.key }}" target="_blank">{{ val.key }}</a>
                    </td>
                    <td>
                        {{ val.value }}
                    </td>
                    <td>
                        {{ val.ratio }}%
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">没有数据~</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>404错误Top10</h2>
    <table>
        <thead>
            <tr>
                <th>指标</th>
                <th>数据</th>
                <th>比例</th>
            </tr>
        </thead>
        <tbody>
            {% if request_404 %}
                {% for val in request_404 %}
                <tr>
                    <td>
                        <a href="//xuexb.com{{ val.key }}" target="_blank">{{ val.key }}</a>
                    </td>
                    <td>
                        {{ val.value }}
                    </td>
                    <td>
                        {{ val.ratio }}%
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">没有数据~</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{%- endblock %}